// base
@import "util/variable";
@import "util/normalize.4.0.0";
@import "mixin/mixin";
@import "util/reset";
@import "module/module";

header{height:300px;}
#contents{
    width:$minWidth; 
    margin:0 auto;
    section{
        padding-bottom:100px;
        &[data-id=section-navigation]{
            height:300px;
            .col3-box{
                display: flex;
                >div{
                    flex:1;
                }
            }         
            
        }
    }
}
#footer{
    background:#333;
    color:#fff;
    height:1500px;
    text-align: center;
}
h1{
    color:#333;
}