$static:'';
$folder:'';

$bodyColor:#fff;
$minWidth:1100px;
$imgWidth:2200px;

$fontFamily:'Malgun Gothic', '맑은고딕', Dotum, '돋움', Hevetica, AppleGothic, sans-serif;
$baseFontSize:12px;
$indentValue:-999em;
$fontColor:#666666;
$mutedColor:#999999;
$linkColor:#1e87f0;
$linkHoverColor:#0f6ecd;

$borderColor:#e5e5e5 !default;

$controllHeight:45px;
$controllLineHeight:$controllHeight;
$controllBgColor:#fff;
$controllHoverBgColor:#d6e7ff;
$controllGutter:15px;




